@import "tailwindcss";

/* Animasi marquee untuk papan pengumuman atas */
@utility animate-marquee {
  display: inline-flex;
  white-space: nowrap;
  animation: marquee 25s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
